sudo: false
os:
  - linux
language: php
php:
  - 7.2
  - 7.3
  - 7.4
env:
  - DEPENDENCIES=lowest
  - DEPENDENCIES=highest

addons:
  apt:
    packages:
      - libxml2-utils # for xmllint

cache:
  directories:
  - $HOME/.composer/cache

before_script:
  - if [ "${DEPENDENCIES}" = "lowest" ]; then composer update --prefer-lowest --prefer-dist --no-interaction --no-progress; fi;
  - if [ "${DEPENDENCIES}" = "highest" ]; then composer update --prefer-dist --no-interaction --no-progress; fi;
  - if [ "${DEPENDENCIES}" = "highest" ]; then pecl install -f ast-1.0.7; fi; # Install AST extension, as phan uses it
  - export XMLLINT_INDENT="    "

script:
  - xmllint --noout --schema vendor/squizlabs/php_codesniffer/phpcs.xsd MO4/ruleset.xml
  - xmllint --noout --schema vendor/squizlabs/php_codesniffer/phpcs.xsd phpcs.mo4.xml
  - xmllint --noout --schema vendor/squizlabs/php_codesniffer/phpcs.xsd phpcs.xml.dist
  - diff -B MO4/ruleset.xml <(xmllint --format MO4/ruleset.xml)
  - diff -B phpcs.mo4.xml <(xmllint --format phpcs.mo4.xml)
  - diff -B phpcs.xml.dist <(xmllint --format phpcs.xml.dist)
  - vendor/bin/phpcs -s --standard=MO4 integrationtests/testfile.php # Check, if all the sniffs work with the current dependencies
  - vendor/bin/phpunit # Run tests
  - vendor/bin/phpcs # Stylecheck against PHPCS's ruleset
  - vendor/bin/phpstan analyse --no-progress # Run PHPStan
  - vendor/bin/psalm --show-info=false # run psalm
  - if [ "${DEPENDENCIES}" = "highest" ]; then vendor/bin/phan; fi; # Run phan
  - if [ "${TRAVIS_PHP_VERSION}" != "7.3" ]; then php -d zend_extension=xdebug.so vendor/bin/phpunit --coverage-clover=coverage.xml; fi; # Generate Code coverage report

jobs:
  include:
    - stage: Test
      name: PHP:7.3 Windows
      os: windows
      cache:
        directories:
          - C:/Users/travis/AppData/Local/Composer
      language: sh # No PHP currently
      env:
        - PHP_VERSION=7.3
        - DEPENDENCIES=lowest
      install:
        - export EXACT_PHP_VERSION=$(choco search php --exact --all-versions --limit-output | grep $PHP_VERSION | cut -d \| -f 2)
        - choco install php --version=${EXACT_PHP_VERSION} --package-parameters="/InstallDir:c:\tools\php"
        - choco install composer --ia "/DEV=C:\tools\php"
        - export PATH=/c/tools/php:$PATH
      script:
        - git config core.autocrlf false # fix CRLF issues
        - git add --renormalize .
        - git reset --hard
        - vendor/bin/phpcs -s --standard=MO4 integrationtests/testfile.php # Check, if all the sniffs work with the current dependencies
        - vendor/bin/phpunit # Run tests
        - vendor/bin/phpcs # Stylecheck against PHPCS's ruleset
        - vendor/bin/phpstan analyse --no-progress # Run PHPStan

after_success:
- curl -s https://codecov.io/bash | bash

notifications:
  slack:
    secure: HcN5Gm6bfN8x5AP7BAw3QxKvyH9tEMd9ZnzlsGGitjCxvfLf86RIEoBkbLgBFm7Kzzue4V9WWlcop301vF7TFcDyCDQuQop/VQaY0iBUpauCLcu9M0G2LdbFvc1IXihFZGReFMm7rvjGPX8+V6vcEdJHG/fq+Fyf/xgKDTFO4KQ=
