parameters:
    level: 9
    bootstrapFiles:
        - %rootDir%/../../../tests/static_analysis_bootstrap.php
    paths:
       - %rootDir%/../../../MO4
       - %rootDir%/../../../tests
    ignoreErrors:
       - identifier: missingType.iterableValue
includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
