<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
        backupGlobals="true"
        beStrictAboutTestsThatDoNotTestAnything="false"
        bootstrap="tests/bootstrap.php"
        cacheDirectory=".phpunit.cache"
>
    <testsuites>
        <testsuite name="MO4 Ruleset Test Suite">
            <directory>MO4/Tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./MO4/Sniffs</directory>
        </include>
    </source>
</phpunit>
