<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="true"
        beStrictAboutTestsThatDoNotTestAnything="false"
        bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="MO4 Ruleset Test Suite">
            <file>vendor/squizlabs/php_codesniffer/tests/Standards/AllSniffs.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./MO4/Sniffs</directory>
        </whitelist>
    </filter>
</phpunit>
